header { /*code for all headers*/
    display: flex;
    flex: none;
    justify-content: center;
}

#logo {
    animation: mymove 5s 1; /*create the animation object*/
}

@keyframes mymove { /*coding the animation properties*/
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
}

body { /*font and background image*/
    font-family: "Poppins", serif;
    background-image: url(concrete_seamless.png);
    background-color: #f1f1f1;
}

.nav_links { /*styling the navigation links*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a:visited { /*same color as the unvisited link*/
    color: #0000ff;
}

.card > header { /*headers that are direct children of the card class*/
    background: #288088;
    border: 2px solid #45ADAD;
    padding: 20px 0px 20px 0px;
    border-radius: 50px 50px 0px 0px;
}

.card { /*creating the size and flex direction of the card class objects*/
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
}

.pricing { /*aligning the card divs and allowing them to wrap*/
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery { /*setting up the flexbox for images*/
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

@media screen and (min-width: 900px) { /*establishing the desktop view layout*/
    header {
        justify-content: flex-start;
        flex-direction: row;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
    }

    .pricing {
        align-items: center;
    }

    body > header{ /*keeping the heading at the top of the screen*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
    }
}

@media (prefers-reduced-motion) { 
    #logo {
        animation-name: none;
    }
}

@media print and (orientation: portrait) {
    body {
        font-family: "Arial", "Helvetica";
        background-image: none;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-around;
    }

    .pricing {
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
        flex: 1;
    }

    .card li:nth-child(even)::after { /*styling the emoji*/
        content: "👍";
    }

    #gallery {
        display: none;
    }

    .gallery {
        display: none;
    }
}